<header class="header">
    <div class="section-wrapper">
        <img class="header__logo" src="./assets/images/logo.png" alt="Logo Spotify">
        <nav class="header__nav">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <div class="header__nav--container">
                <ul class="header__nav--main">
                    <a><li>Premium</li></a>
                    <a><li>Ayuda</li></a>
                    <a><li>Descargar</li></a>
                </ul>
                <ul class="header__nav--user">
                    <a><li>Registrarse</li></a>
                    <a><li>Iniciar sesión</li></a>
                </ul>
            </div>
        </nav>
    </div>
</header>
