<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Spotify</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap" rel="stylesheet">

    <link href="./assets/css/main.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="wrapper">
      <partial src="_header.html" label="Header"></partial>
      <main class="main">
          <partial src="_hero.html" label="Hero"></partial>
          <partial src="_benefits.html" label="Benefits"></partial>
          <partial src="_plans.html" label="Plans"></partial>
      </main>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>
</html>
