/* DEVICE WIDTH - media queries breakpoints */
$tablet: 768px;
$desktop: 1200px;

/* FONT SIZE */
$defaultFontSize: 16;

/* FONT WEIGHT */
$regular: 400;
$bold: 800;

/* FONT COLORS */
$color-white: #fff;
$color-black: #000;
$color-green: #1DB954;
$color-blue: #3F9ED7;

/* SECTION WRAPPER DEVICE DIMENSIONS */
$sw-pad-mob: 0 20px; /* padding - mobile */
$sw-mgn-mob: 20px; /* margin - mobile */
$sw-mw-desk: 1170px; /* max width - desktop */


